.memory {
    display: table;
    border-collapse: collapse;

    margin: auto;
}

.memrow {
    display: table-row;
}

.cell, .col-header {
    display: table-cell;
    text-align: center;
}

.cell {
    border: 1px solid #999999;
}

.memory .cell input {
    width: 2.5em;
    padding: 3px 1px;
    border: none;
    background: transparent;
    color: inherit;
    font-weight: inherit;
    text-align: center;
}

.registers input {
    border: 1px solid #999;
    width: 2.5em;
    padding: 3px 1px;
    text-align: center;
}

#reg_pc {
    border-color: red;
    border-width: 2px;
}

#input {
    width: 100%;
}

.registers label {
    padding-right: 1em;
}

.cell.selected {
    font-weight: bold;
    background-color: red;
    color: white;
}

.row-header {
    width: 2em;
    display: inline-block;
}

body {
    font-family: 'Courier New', Courier, monospace
}